# the file external-deps.properties is used at build time to locate dependencies external to the maven ecosystem
# this .dist file is included in the repository as a template and documentation-holder; the contents are entirely
# dependent on the build/development environment however.


# C-runtime startup files. also called STARTUPFILES or crtstuff in gcc and clang
# can be obtained from the build in the github workflow, or from any VM running a target-compliant OS
# the default values work on ubuntu 20.04; obtained by running clang-17 on an minimal .c file with the --verbose
# flag and observing what it passes to the linker

emerge-compiler.ext-deps.llvm.x86_64-pc-linux-gnu.scrt1=/lib/x86_64-linux-gnu/Scrt1.o
emerge-compiler.ext-deps.llvm.x86_64-pc-linux-gnu.crtbeginS=/usr/lib/gcc/x86_64-linux-gnu/14/crtbeginS.o
emerge-compiler.ext-deps.llvm.x86_64-pc-linux-gnu.crtendS=/usr/lib/gcc/x86_64-linux-gnu/14/crtendS.o